body {
  background-color: #212529;
  color: #f8f9fa;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 0px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background-color: #f8f9fa;
  color: #212529;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#output {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  transition: opacity 0.5s ease;
  opacity: 1;
}
.fade-out {
  opacity: 0;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

button {
  min-width: 80px;
}
