
body{
    background-color: rgb(255, 255, 255);
    color: black;

    font-size: 16px ;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif
 }
 /*
 *{
  padding: 0px;
  margin: 0px;
 }
 */

 
  a{
  color: #000;
  text-decoration: none;
 }
 a:hover{
  text-decoration:line-through  ;
 }
 a:active{
color: aqua;
 }
 a:visited{
  color: blueviolet;
 }
 .avatar{
  width: 250px;
  border-radius: 42px;
  box-shadow: 16px 16px 56px rgb(4, 226, 45);
  }

  .container{
    max-width: 760px;
    margin: auto;
    padding-top: 30px;
  }
  .info{
    display: flex;
    margin-bottom: 20px;
    
  }
  @media(max-width:700px){
    .info{
      text-align: center;
      display:block;
    }
  }
  .info-text {
    margin-left: 40px;
  }

  .info-text h5{
    margin-bottom: 10px;
  }

  .bg-orange{
    background: rgba(218, 196, 139, 0.896);
   }

   .bg-red{
    background: rgba(54, 156, 67, 0.39);
   }

 .bg-yellow{
  background: rgb(206, 223, 171);
 }
 .bg-green{
  background: rgb(148, 224, 162);
 }

 .bg-blue{
  background: rgb(197, 233, 233);
 }

 .bg-pink{
  background: rgb(234, 207, 235);
 }

 .card{
  padding: 19px 30px;
  margin-bottom: 25px;
  border-radius: 30px;
 }

 .card h2{
  margin-bottom: 15px;
 }

 .list{
  padding: 0 20px;
 }

 .list li{
  color: rgb(153, 38, 174);
  margin-bottom: 10px;
  border-bottom: 1px solid greenyellow;
 }

 .table {
  width: 100%;
 }

 .table td{
  padding-bottom: 10px;

 }

 .table td:nth-child(2),
 .table td:nth-child(3){
color: rgba(139, 53, 0, 0.53);
text-align: center;
 }

 .table:nth-child(even){
  text-align: center;
  background: rgba(44, 157, 232, 0.249);
 }
 
.contact h2{
text-align: center;
}

.form-group label{
display: block;
font-size:medium;
color: rgba(0, 186, 3, 0.87);
}

.form-group input,
.form-group {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 20px 0 10px;
  outline: none;
  font-family: inherit;
}

.row{
  display: flex;
  margin-bottom: 20px;
}

.row> .form-group:last-child{
  margin-right: 0;
}

.btn{
  background: rgb(0, 0, 0);
  padding: 15px 25px;
  color: bisque;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.9;
}
/*position*/

.position{
  position: relative;
  height: 300px;
border: 4px solid black;
margin-top: 50px;
padding: 20px;
}

.box{
  position: absolute;
  top: 100px;
  right: 50px;
  border-radius: 50px;
/*  bottom: 0px;*/
  width: 50px;
  height: 50px;
  background: lightcoral;
}